/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}

body {
    background-color: white;
    overflow: hidden;
}

/* NavbarTop */
.navbar-top {
    background-color: red;
    color: #FFFFFF;
    border: solid 2px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 0px rgb(166, 162, 162);
    height: 70px;
}

.title {
    padding-top: 20px;
    position: fixed;
    left: 45%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
/* End */

/* Sidenav */
.sidenav {
    background-color: #ffffff;
    color: #333;
    border-top-right-radius: 25px;
    height: auto;
    left: 0;
    padding-left: 10px;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 5;
    width: 250px;
}

.profile {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.profile img {
    border-radius: 60%;
    box-shadow: 0px 0px 5px 2px grey;
}

.username {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #103646;
    display: block;
    font-size: 18px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}

/* End */

/* Main */
.main {
    margin-top: 5%;
    margin-left: 25%;
    font-size: 28px;
    padding: 0 10px;
    width: 60%;
}

.main .card {
    background-color: #ffffff;
    font-family: 'Comic Sans MS', cursive;
    color: #000000;
    text-align: left;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 rgb(24, 25, 25);
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 20px;
    height: 300px;
    margin-left: 50px;
    min-width: 25%;
}

.edit {
    position: absolute;
    color: black;
    right: 8%;
}

.btn {
    background-color: white;
    border: solid;
    border-radius: 10px;
    color: red;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  .fade-in.show {
    opacity: 1;
  }

  .transition-fade {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  
/* End */